.device{
    display: 'block'; 
    width: 'fit-content'; 
    height: 'fit-content';
    background-color: "blue";
    border-radius: '5px';
    margin: 12;
    padding: 4; 
    font-size: 17;
}