.loginform{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: left;
    input{
        width: fit-content;
    }
    label{
        margin-top: 1%;
        text-align: left;
    }
    button{
        width: fit-content;
        margin-top: 10px;
    }
    select{
        width: fit-content;
    }
}